<div id="form">
  <h2>Log in!</h2>
  <form method="POST" action="/auth/login">
    <label> email </label>
    <input type="email" name="email" placeholder="caraboniato69@gmail.com" required>
    <label>Password</label>
    <input type="password" name="password" placeholder="**********" required>
    <button type="submit">Log in</button>
    <p>Not registered yet?<a href="/auth/signup">Sign up here!</a></p>
    {{#if error}}
    <p class="error" style="color:red">{{error}}</p>
    {{/if}}
  </form>
</div>