<div id="form">
  <h2>Sign Up!</h2>
  <form method="POST" action="/auth/signup">
    <label> email </label>
    <input type="email" name="email" placeholder="caraboniato69@gmail.com" required>
    <label>Password</label>
    <input type="password" name="password" placeholder="**********" required>
    <label> Name and last name </label>
    <input type="text" name="fullName" placeholder="Cara Boniato" required>
    <label> Slack ID </label>
    <input type="text" name="slackID" placeholder="T456F5666H" required>
    <label> Google ID </label>
    <input type="text" name="googleID" placeholder="S12345" required>
    <button type="submit">Register</button>
    <a href="/auth/login">Are you registered? Log in here!</a>
    {{#if error}}
    <p class="error" style="color:red">{{error}}</p>
    {{/if}}
  </form>
</div>